html {
   height: 100%;
}

body {
   height: 100%;
   margin: 0;
   background-color: #D2FFE7;
}

#root {
   height: 100%;
   margin: 0;
   background: linear-gradient(35deg, #EAD7FF 50%, #D2FFE7 50%);
}

#menu {
   width: 100%;
   height: 8%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 13;
   position: relative;
   top: 0;
   left: 0;
   display: flex;
   overflow: hidden;
   border: 1px solid rgba(255, 255, 255, 0.25);
   background: rgba(255, 255, 255, 0.05);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
 
   backdrop-filter: blur(15px);
}

#winnerBox {
   height: 4%;
   width: 100%;
   background-color: #EAD7FF;
}

#middle {
   height: 88%;
   position: relative;
   display: flex;
   justify-content: center;
}

#left {
   width: 40%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#right {
   width: 39%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#betSelection {
  max-width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 700px;
  height: 500px;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.dropDownMenu {
   height: 8%;
   width: 100%;
   background-color: #A6EFC9;
   display: none;
   animation-duration: 0.5s;
   position: absolute;
   z-index: 12;
}

#gamesMenu {
   justify-content: flex-start;
   align-items: center;
}

#roulette {
   height: 100%;
}

#menuLeft {
   height: 100%;
   width: 25%;
   display: flex;
}

#games {
   width: 100%;
}

#withdraw {
   width: 100%;
}

#deposit {
   width: 100%;
}

#menuLeft .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 150px;
	font-size: 26px;
   height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
   font-family: "Comfortaa", sans-serif;
}
#menuLeft .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #555;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
   user-select: none;
}
#menuLeft .btn:hover a {
	letter-spacing: 2px;
   color: #fff;

}
#menuLeft .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
#menuLeft .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
#menuLeft .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: 50%;
	width: 1px;
	height: 1px;
	border-radius: 10px;
	transition: 0.1s;
	transition-delay: 0.5;
}
#menuLeft .btn:hover::before /*redBlack them width 85%*/ {
	bottom: 50%;
	height: 50%;
	width: 85%;
	border-radius: 100px;
}

#menuLeft .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: 50%;
	width: 1px;
	height: 1px;
	border-radius: 10px;
	transition: 0.1s;
	transition-delay: 0.5;
}
#menuLeft .btn:hover::after /*redBlack them width 85%*/ {
	top: 50%;
	height: 50%;
	width: 85%;
	border-radius: 30px;
}
#menuLeft .btn::before, /*chnage 1*/
#menuLeft .btn::after {
	background: #D3A3FF;
	box-shadow: 0 0 5px #D3A3FF, 0 0 5px #D3A3FF, 0 0 5px #D3A3FF,
		0 0 0px #D3A3FF;
}


.container {
	width: 130px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 100px;
	font-size: 20px;
   height: 46px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
   font-family: "Comfortaa", sans-serif;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(211, 163, 255, 0.7);
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 2px;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(7px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: 50%;
	width: 1px;
	height: 1px;
	border-radius: 10px;
	transition: 0.1s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*redBlack them width 85%*/ {
	bottom: 50%;
	height: 50%;
	width: 85%;
	border-radius: 100px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: 50%;
	width: 1px;
	height: 1px;
	border-radius: 10px;
	transition: 0.1s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*redBlack them width 85%*/ {
	top: 50%;
	height: 50%;
	width: 85%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
	background: #D3A3FF;
	box-shadow: 0 0 5px #D3A3FF, 0 0 5px #D3A3FF, 0 0 5px #D3A3FF,
		0 0 0px #D3A3FF;
}

#link1 {
   text-decoration: none;
}

#login:hover {
   animation-name: logIn;
   transform: scale(1.05);
   box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

:root {
   --deg: 0deg;
}

:root {
   --deg2: 0deg;
}

#rouletteWheel {
   width: 580px;
   height: 580px;
   background-color: transparent;
   border-radius: 50%;
   animation-duration: 8s;
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   animation-fill-mode: forwards;
}
#box2 {
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 20;
}

#border1Box {
   width: 100%;
   height: 100%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
}

#border1 {
   border-radius: 50%;
   width: 582px;
   height: 582px;
   border: 4px solid #c288ff;
   z-index: 50;
   position: absolute;
}

#border2 {
   border-radius: 50%;
   width: 468px;
   height: 468px;
   border: 4px solid #c288ff;
   z-index: 50;
   position: absolute;
}

#border3 {
   border-radius: 50%;
   width: 374px;
   height: 374px;
   border: 4px solid #c288ff;
   z-index: 50;
   position: absolute;
}



#rouletteWheel2 {
   width: 466px;
   height: 466px;
   background-color: transparent;
   border-radius: 50%;
   animation-duration: 8s;
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   animation-fill-mode: forwards;
   z-index: 20;
}

.segmentA {
   height: 100%;
   width: 8%;
   position: absolute;
   clip-path: polygon(50% 50%, 0 0, 100% 0); 
   background: linear-gradient(to top, transparent 90%, #AEFFD3 90%);
   transform-origin: 50% 50%;
   display: inline;
   color: white;
   font-size: 28px;
   display: flex;
   justify-content: center;
   font-family: "Quicksand", sans-serif;
}

.segmentB {
   height: 100%;
   width: 8%;
   position: absolute;
   clip-path: polygon(50% 50%, 0 0, 100% 0); 
   background: linear-gradient(to top, transparent 90%, #EAD7FF 90%);
   transform-origin: 50% 50%;
   display: inline;
   color: white;
   font-size: 28px;
   display: flex;
   justify-content: center;
   font-family: "Quicksand", sans-serif;
   text-align: center;
}

.segmentC {
   height: 100%;
   width: 8%;
   position: absolute;
   clip-path: polygon(50% 50%, 0 0, 100% 0); 
   background: linear-gradient(to top, transparent 90%, #A7D7C5 90%);
   transform-origin: 50% 50%;
   display: inline;
   color: white;
   font-size: 28px;
   display: flex;
   justify-content: center;
   font-family: "Quicksand", sans-serif;
   text-align: center;
}

.segmentD {
   height: 100%;
   width: 8%;
   position: absolute;
   clip-path: polygon(50% 50%, 0 0, 100% 0); 
   background: linear-gradient(to top, transparent 90%, #00DBCA 90%);
   transform-origin: 50% 50%;
   display: inline;
   color: white;
   font-size: 28px;
   display: flex;
   justify-content: center;
   font-family: "Quicksand", sans-serif;
   text-align: center;
}

.segmentE {
   height: 100%;
   width: 8.3%;
   position: absolute;
   clip-path: polygon(50% 50%, 0 0, 100% 0); 
   background: linear-gradient(to top, transparent 90%, #c288ff 90%);
   transform-origin: 50% 50%;
   display: inline;
   color: white;
   font-size: 28px;
   display: flex;
   justify-content: center;
   font-family: "Quicksand", sans-serif;
   z-index: 3;
}

#spinButton {
   width: 100px;
   height: 50px;
}

#picker {
   background-color: #AC7900;
   width: 50px;
   height: 100px;
   position: absolute;
   z-index: 10;
   top: 0;
   clip-path: polygon(50% 50%, 0 0, 100% 0); 
}

#box1 {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 700px;
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.containter1 {
   width: 370px;
   height: 370px;
}

.circular-progress {
   position: relative;
   height: 100%;
   width: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.circular-progress::before {
   content: "";
   position: absolute;
   height: 84%;
   width: 84%;
   background-color: #A6EFC9;
   border-radius: 50%;
}

.value-container {
   position: relative;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 50px;
   color: #555;
   z-index: 10;
}

.textSpin {
   z-index: 100;
   font-size: 38px;
   color: #555;
   font-family: "Comfortaa", sans-serif;
}

#spinTextBackgroundBox {
   height: 311px;
   width: 311px;
   position: absolute;
}

#spinTextBackground {
   height: 100%;
   width: 100%;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(15px);
   overflow: hidden;
}

#betInputBox {
   width: 100%;
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
}

#betSelectBox {
   width: 100%;
   height: 40%;
}

.bt1 {
   height: 75%;
   width: 45px;
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(15px);
   overflow: hidden;
   border-radius: 4px;
}

.bt1Settings {
   height: 60%;
   width: 35px;
   margin-left: 50px;
}

#betInput {
   height: 75%;
   width: 130px;
   padding: 5px;
   font-size: 18px;
}

.glassmorphism {
   background: rgba(255, 255, 255, 0.15);
   border-radius: 10px;
   backdrop-filter: blur(10px);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   transition: background 0.3s ease-in-out;
}

.glassmorphism:hover {
   background: rgba(255, 255, 255, 0.25);
}

.glassmorphism::before {
   content: "";
   position: absolute;
   top: -100px;
   left: -100px;
   width: 300px;
   height: 300px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   transition: transform 0.5s ease-in-out;
}

.glassmorphism:hover::before {
   transform: translateX(calc((100vw - 100%) / 2));
}

 @keyframes rotate {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }

@keyframes spin {
   from {
       transform: rotateZ(0deg); 
   }
   to {
       transform: rotateZ(var(--deg)); 
   }
}

@keyframes spinInner {
   from {
       transform: rotateZ(0deg); 
   }
   to {
       transform: rotateZ(var(--deg2)); 
   }
}